/* 
Body
Headings
Columns for Text
Lists
Table of Contents
Embed Tweets
hang-left (float outside of main flow)
Contract Numbering
MPEP CFR and USC quotes
Links
Figures
Feature Image Caption
Note text
Blockquotes
Footnotes
Code
 */


// Body
// --------------------------------------------------
body {
	font-family: @base-font;
	color: @text-color;
}

// Headings
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	font-family: @heading-font;
}
h1 {

    }
    
h2 {
    .font-size(28);
    line-height:1.15;
    }
    
h3 {
    .font-size(24);
    line-height:1.15;
    }
    
h4 {
    .font-size(20);
    line-height:1.15;
    }

/* Embiggen line height for blog posts */
.blog-post p, .blog-post blockquote, .blog-post ul, .blog-post ol {
    line-height: 1.4;
    }

/* Embiggen line height for pages content 2014/9/10 test */
.entry-content {
    p, blockquote, ul, ol {
        line-height: 1.4;
        }
    }

// Big text for intro paragraphs and such. 
.big-text {
	.font-rem(22);
	/* font-weight: 400; */
	line-height: 1.3;
	letter-spacing: 0px;
	/* ela reducing margin-top. */
	margin-top: 2rem;

	@media @medium {
		.font-rem(24);
	}
	@media @large {
		.font-rem(26);
	}
}

// Smaller text for attorney bios
.attorney p {
    .font(16);
    }


// Cols for text
// --------------------------------------------------
.twocols {
    .grid(@cols:2);
    }
.fourcols {
    .grid(@cols:4);
    }
.sixcols {
    .grid(@cols:6);
    }



// Lists
// --------------------------------------------------
.entry-content ul {
    margin-left:0;
    padding-left:0;
    // list-style:disc;
    }
    
.entry-content ul ul {
    margin-left:22px;
    }
    
.entry-content li {
    margin-top:10px;
    li::marker {color:#888;}
    }

/* Setting color to li disc (commented out because it gets weird effects)
    .entry-content ul li:before {
        color:#999; 
        content:"\2022"; // 2022 is the numerical unicode for &bull; 
        font-size:1.5em; // set the font-size of the bullet if necessary. Make sure to use em or %
        padding-right:.25em; // give the bullet some padding from the text Make sure to use em
        position:relative;
        top:.1em; // set the vertical position of the bullet if necessary. Make sure to use em or % 
}
*/




/* Table of Contents */
// --------------------------------------------------

.entry-content ul.toc   {
	background-color: #f2f2f2;
	.rounded(5px);
	@media @medium {
	max-width:80%;
	}
	padding-top:1rem;
    padding-bottom:1rem;
    padding-right:1rem;
    p {
        padding-left:2rem;
        margin-bottom:1rem;
        }
    
	}

.entry-content ul.toc li {
	margin-left:2rem;
	margin-top:.75rem;
	list-style-type: none;
	a {
	    border-bottom:none;
   	    &:hover {
   	        border-bottom: 1px dotted lighten(@link-color, 30);
   	        }
	    }
    }
    
.entry-content ul.toc ul  {
    padding-left:1rem;
    li {list-style-type: circle;}    
    }

// bold-first-level bolds the first first-level links in a table of contents
.bold-first-level>ul>li {font-weight:bold;}
.bold-first-level>ul>li>ul {font-weight:normal;}

/* Updated Table of Contents with div.toc */
// --------------------------------------------------

.entry-content div.toc {
	background-color: #f2f2f2;
	.rounded(5px);
	padding:1rem;
	margin-bottom: 1rem;
	
	@media @medium {
	max-width:80%;
	margin-bottom: 3rem;
	}
    
    p {
        // padding-left:2rem;
        margin-bottom:1rem;
        font-weight:bold;
    }
}

.entry-content div.toc ul {
	// margin-left:2rem;
	// margin-top:.75rem;
	li {
	    list-style-type: none;
	    margin-top:.5rem;
	}
	li ul li {
	    list-style-type: circle;
	    margin-top:.5rem;
	}
	a {
	    border-bottom:none;
   	    &:hover {
   	        border-bottom: 1px dotted lighten(@link-color, 30);
   	     }
	}
}



/* Embedded Tweets */
// --------------------------------------------------

blockquote.twitter-tweet {
  display: inline-block;
  padding: 16px;
  margin: 10px 0;
  max-width: 468px;
 
  border: #ddd 1px solid;
  border-top-color: #eee;
  border-bottom-color: #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
 
  /* font: bold 14px/18px Helvetica, Arial, sans-serif; */
  color: #000;
}
 
/* 
blockquote.twitter-tweet p {
  font: normal 18px/24px Georgia, "Times New Roman", Palatino, serif;
  margin: 0 5px 10px 0;
}
*/

blockquote.twitter-tweet a[href^="https://twitter.com"] {
  font-weight: normal;
  color: #666;
  /* font-size: 12px; */
}

/* -----------------------------------
---- Float Outside of Main Flow ------
-------------------------------------- */
@media @large {
    .hang-left {
        display:block;
        float: left;
        position: relative;
        top: 6px;
        left: -125px;
        margin-right:-125px;
        color: lighten(@text-color, 50);
        a {
            color: lighten(@text-color, 50);
        }
    }

}

/* -----------------------------------
-----   Contract Numbering   ---------
-------------------------------------- */

.contract {
    ol { counter-reset: item; }
    ol li {
        display: block;
        position: relative;
    }
    ol li:before {
        content: counters(item, "." );
        counter-increment: item;
        position: absolute;
        margin-right: 100%;
        right: 10px; /* space between number and text */
        color: lighten(@text-color, 50); 
    }
    comment {
        padding:.5em .5em .5em .5em;
        margin: .5em -.5em 2em -.5em;
        background-color:#eaeaea;
        .rounded(5px);
        display:block;
        font-family: @alt-font;
        }

}


// MPEP CFR and USC quotes
// --------------------------------------------------

#yui-main p {line-height:1.4em; }

.entry-content .USC {
    padding: 3px;
    background-color:#ededed;
    }

.entry-content .CFR, .extract {
    padding: 3px; 
    background-color:#f6f6f6;
    }
// .extract is for pages imported from the Federal Register (not MPEP). 

.entry-content .excludedText{
    color: #c7c7c7;
    }

// remove extraneous BOLD test from MPEP
.entry-content b {
    font-weight:normal;
    }
    
h1.page-title {
    font-family: @alt-font;
    font-weight: bold;
    line-height:1.15;
    margin: 6rem 0 2rem 0;
    }

h2.section1, h3.section1 {
    line-height:1.15;
    margin: 4rem 0 2rem 0;
    }
    
h2.section2, h3.section2 {
    line-height:1.15;
    margin: 2rem 0 1rem 0;
    }
    
h2.section3, h3.section3 {
    line-height:1.15;
    margin: 1rem 0 .5rem 0;
    }

.entry-content .SubtitleText {
    font-family: @base-font;
    .font-size(16)
    }

body .entry-content .RevisionParagraphText, .Amendment {
    color: c7c7c7;
    }
    
    
// Links
// --------------------------------------------------
a { 
	text-decoration: none;
	color: @link-color; 
	&:visited { 
		color: lighten(@link-color, 20); 
	}
	&:hover { 
		color: darken(@link-color, 20); 
	}
	&:focus { 
		outline: thin dotted; 
		color: darken(@link-color, 20);
	}
	&:hover, 
	&:active { 
		outline: 0; 
	}
}

.link-arrow {
	font-weight: 100;
	text-decoration: underline;
	font-style: normal;
}

// Figures
// --------------------------------------------------
figcaption {
	padding-top: 10px;
	.font(14);
	line-height: 1.3;
	color: lighten(@text-color, 10);
}

// Feature Image Caption
// --------------------------------------------------
.image-credit {
	margin: 0 auto;
	max-width: 440px;
	padding-top: 5px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: right;
	.font(14);
	line-height: 1.3;
	color: lighten(@text-color, 30);
	/* text-shadow: 1px 1px 3px rgba(0,0,0, 0.75); */
	
	.clearfix();
	display:none; 
	@media @small {
	    display:none;
	}
	@media @medium {
	    display:inherit;
		max-width: 760px;
		padding-right: 60px;
		padding-left: 60px;
	}
	@media @large {
	    display:inherit;
	    max-width: 960px;
	}
	a {
		color: lighten(@text-color, 30);
	}
}

// Note text
// --------------------------------------------------
.notice {
	margin-top: 1.5em;
	padding: .5em 1em;
	text-indent: 0;
	.font-rem(16);
	background-color: lighten(@black, 95);
	border: 1px solid lighten(@black, 90);
	.rounded(4px);
}
// Blockquotes
// --------------------------------------------------
blockquote {
	/* font-family: @alt-font; */
	font-family: @base-font;
	/* font-style: italic;  */
	/* .font-size(24);  */
	padding-left: 20px;
	border-left: 5px solid lighten(@text-color, 75); 
	}
/* original:  border-left: 8px solid @black;  */


// Footnotes
// --------------------------------------------------
.footnotes {
	.font(16);
	font-family: @base-font;
}

@media @medium {
    .footnotes {
	    .font(18);
	    font-family: @base-font;
    }
}


// Code
// --------------------------------------------------
tt, code, kbd, samp, pre {
	font-family: @code-font;
}
p,
li { 
	code {
		.font(18);
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten(@black, 90);
		background-color: lighten(@black, 95);
		.rounded(3px);
	}
}
pre {
	.font(18);
	overflow-x: auto;
}
