<div class="navigation-wrapper">
	<nav role="navigation" id="footer-site-nav" class="">
	    <ul>
	        {% for link in site.footerlinks %}
			<li>
				{% if link.external %}
					<a href="{{ link.url }}">{{ link.title }}</a>
				{% else %}
					<a href="{{ site.url }}{{ link.url }}">{{ link.title }}</a>
				{% endif %} 
			</li>
	        {% endfor %}
	        <!-- uncomment to activate rss feed 
	        <li><a href="{{ site.url }}/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li> 
	        -->
	        {% if site.search %}<li class="dosearch"><i class="icon-search"></i> Search</li>{% endif %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

